<div class="row grid" id="luxrow">				
	<div class="col-md-12" id="luxcol">
		<!-- panel -->
		<div class="panel panel-piluku" id="luxpanel">
			<div class="panel-heading">
				<h3 class="panel-title">
					Inside Your Robot
					<span class="panel-options">
						<a href="#" class="panel-refresh">
							<i class="icon ti-reload"></i>
						</a>
						<a href="#" class="panel-minimize">
							<i class="icon ti-angle-up"></i>
						</a>
						<a href="#" class="panel-close">
							<i class="icon ti-close"></i>
						</a>
					</span>
				</h3>
			</div>
			<div class="panel-body" id="luxframe">
				<div id="robotlux">
				</div>	
				<script>
					// Main set up
					var communicationsProtocol = LuxProtocolWebsockets,
						protocolToUiLayer = LuxUiToProtocol;

					LuxUi.setFilterDebugNodes(true);
					LuxUi.setFilterOrphanedTopics(true);
					protocolToUiLayer.setProtocol(communicationsProtocol);
					LuxUi.open(protocolToUiLayer); 
				</script>
			</div>
		</div>
		<!-- /panel -->
	</div>
	<!-- /col-md-12 -->
</div>
<!-- /row -->

						<%= render 'layouts/flash_modal' %>
	

