div.navbar-header {
	background-color: #2196f3;
}

.robotlux-logo {
	height: 70px;
	background-color: #2196f3;
	min-height: 70px;
}

.robotlux-logo img.logo {
	padding-top: 8px;
	width: 150px;
	vertical-align: middle;
}

.navbar-left {
	margin-bottom: 0px;
}

