// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
body {
    background-color: rgba(255, 255, 255, 0.1) !important;
          pointer-events: none;

}

.wrapper, .main-content, #luxrow, #luxcol {
     pointer-events: none;

}

#content {
    background-color: rgba(255, 255, 255, 0.1);
      pointer-events: none;
}

#luxpanel {
    background-color: rgba(255, 255, 255, 0.1);
      pointer-events: none;

    //opacity: 0.99;
} 

#luxframe {
  //z-index: 1000;
  //position: relative;
  background-color: transparent;
  background-image: url('/assets/1x1-transparent.png');
  pointer-events: none;

  //background-color: rgba(255, 255, 255, 0.5);
  //opacity: 0.5;
}

#robotlux {
  position: relative;
  z-index: -1;
        pointer-events: none;

}

*/

#canvas-layer {
  position: relative;
  z-index: 6;
}

#luxwindow-2d {
  position: relative;
  z-index: 5;
}

.panel-body {
  //position: relative;
  //z-index: -1000;
}

svg {
  //z-index: -20;
}


.topic-canvas {
  background-color: transparent;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node-label {
  stroke: #888;
  font-family: "Helvetica";
  stroke-width: 1px;
}

.nodetopic-label {
  stroke: #888;
  font-family: "Helvetica";
  stroke-width: 1px;
  text-anchor: middle;
  alignment-baseline: middle;
}

.nodetopic-label-active:hover {
  stroke: rgb(82, 140, 195);
}

.topic-display {
  stroke: rgb(82, 140, 195);
  font-family: "Helvetica";
  stroke-width: 1px;
}

.focus {
  stroke: rgb(0, 0, 200);  
}

.link-base {
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-dasharray: 10,10;
  stroke-dashoffset: 0;
  -webkit-animation: webkitdash 5s infinite linear;
  animation: dash 5s infinite linear;
}

.linkPath {
  fill: none;
  stroke: #999;
  stroke-opacity: .6;
  stroke-dasharray: 10,10;
  stroke-dashoffset: 0;
  -webkit-animation: webkitdash 5s infinite linear;
  animation: dash 5s infinite linear;
}

@-webkit-keyframes 'webkitdash' {
  100% { stroke-dashoffset: -200px; }
}

@keyframes dash {
  100% { stroke-dashoffset: -200px; }
}

marker#basic {
  fill: #999;
  stroke: #999;
  stroke-opacity: .6;
}

.group-machine {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: move;
  opacity: 0.7;
  fill: rgb(248, 203, 142);
}

.group-hash-topic {
  stroke: #666;
  stroke-width: 1.5px;
  cursor: move;
  opacity: 0.7;
  fill: none;
}

.node-node {
	fill: rgb(82, 140, 195);
}

.node-pileOfNodes {
  fill: rgb(82, 140, 195);
}

.node-topic {
	fill: rgb(188, 200, 218);
}

.node-pileOfTopics {
  fill: rgb(188, 200, 218);
}

.kill-icon:hover {
  cursor: pointer;
  stroke: red;
}

.node-dummy {
  display: none;
}

.joint-state-hash-topic-view-position-backdrop {
  fill: #D2FFB8;
}

.joint-state-hash-topic-view-velocity-backdrop {
  fill: #D2D4B8;
}

.joint-state-hash-topic-view-effort-backdrop {
  fill: #D2AFB8;
}

.joint-state-hash-topic-view-label {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 14px;
}

.joint-state-hash-topic-view-position-indicator-label-top {
  stroke-width: 1.0;
}

.topic-view-label-shadow {
  fill: white;
  stroke: white;
  stroke-width: 2.0;
}

.topic-view-label {
  fill: black;
  stroke: black;
  stroke-width: 0.5;
}

.key-indicator {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 12px;  
  stroke: black;
  stroke-width: 1.0;
  border: 1px;
}

.key-indicator {
  stroke-width: 0.5;
}

.key-box {
  fill: #ccc;
  fill-opacity: 0.3;
  stroke: #666;
  stroke-width: 1.5px;
}

.joint-state-hash-topic-view-position-indicator {
  fill: #90C06A;  
}

.joint-state-hash-topic-view-velocity-indicator {
  fill: #A1A680;  
}

.joint-state-hash-topic-view-effort-indicator {
  fill: #A67906;  
}

.group-label {
  fill: black;
  stroke-width: 1.0;  
  text-anchor: middle;
  alignment-baseline: middle;
}

.group-label-machine {
  fill: rgb(248, 203, 142);
  stroke: rgb(248, 203, 142);  
}

.group-label-hash-topic {
  fill: #888;
  stroke: #888; 
}

#mainMenu {
  padding-top: 0px;
}

/*
.connection-lost {
  background-color: #dca7a7;
  color: #a94442;
}

.connection-new {
  background-color: #D6EDC8;
  color: #4E8345;
}

.connection-ok {
  background-color: #ffffff;
  color: #aaaaaa;
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}
*/

.hidden-by-default {
  display: none;
}

