<% if notice.to_s !='' %>
  <div class="alert alert-info"><%= notice %></div>
<% end %>

<div class="panel panel-piluku">
  <div class="panel-heading">
    <h1><%= I18n.t items_name %>
      <span class="panel-options">
        <% if defined?(new_item) %>
        <a href="<%= send('new_' + item_name + '_path') %>"><i class="icon ti-wand"></i></a>
        <% end %>
      </span>
    </h1>
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <% headings.each do |heading| %>
            <th><%= heading %></th>
          <% end %>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
