<div class="admin-logo">
	<div class="logo-holder pull-left">
		<img class="logo" src="<%= image_path('robot-lux-logo.png') %>" alt="logo">	
	</div>
	<!-- logo-holder -->			
	<a href="#" class="menu-bar  pull-right"><i class="ti-menu"></i></a>
</div>
<!-- admin-logo -->
<% if user_signed_in? %>
<br>
<br>
<hr>
<div id="connection-panel">
	<div id="connection-panel-danger" class="row grid hidden-by-default">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="alert alert-danger">
				<p>
				Lost connection with the server. Will try to reconnect automatically in <span id="connection-panel-reconnect-seconds">9</span> seconds...
			</p>
				<p align="center">
					<a href="#fakelink" id="connection-panel-reconnect-retry" class="btn btn-warning btn-wide">Retry now<a>
				</p>	
			</div>	
		</div>	
	</div>	
	<div id="connection-panel-warning" class="row grid hidden-by-default">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="alert alert-warning">
				Connecting...
			</div>	
		</div>	
	</div>	
	<div id="connection-panel-success" class="row grid hidden-by-default">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="alert alert-success">
				Connected to server.
			</div>	
		</div>	
	</div>	
</div>	
<div class="row grid">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="panel panel-piluku">
			<h4 id="connection-org" class="text-info">RobotLux Demo Org</h3>
			<h5 class="text-info">ROS Instances</h3>
			<div class="form-group check-radio">
				<ul id="ros-instances-list" class="list-unstyled">
				</ul>	
			</div>
		</div>	
	</div>	
</div>	

<ul class="list-unstyled menu-parent menu-machines" id="mainMenu">
</ul>
<% end %>