<div id="connection-panel">

	<div id="connection-panel-danger" class="">
		<a href="#" class="text-danger">Lost connection with the server. Will try to reconnect automatically in <span id="connection-panel-reconnect-seconds">9</span> seconds...</a>
	</div>	

	<div id="connection-panel-warning" class="">
		<a href="#" class="text-warning">Connecting...</a>
	</div>	

	<div id="connection-panel-success">
		<a href="#" class="text-success">Connected OK to server.</a>
	</div>	

</div>	
