        <tr>
          <td><%= field_name %></td>
          <td>
            <a href="#" id="<%= field_id %>" data-type="text" data-pk="1" data-title="Enter <%= field_name %>" class="editable editable-click"><%= field_value %>
          </td>
        </tr>
