<nav class="navbar navbar-default top-bar">
	<div class="menu-bar-mobile" id="open-left"><i class="ti-menu"></i>
	</div>

	<form class="navbar-left" role="search">
		<div class="search">
			<input type="text" class="form-control" placeholder="Search">
		</div>
	</form>
	<ul class="nav navbar-nav navbar-right top-elements">

		<% if user_signed_in? %>
			<% if current_user.try(:admin?) %>
				<li class="piluku-dropdown dropdown">
					<a href="#" class="dropdown-toggle avatar_width" data-toggle="dropdown" role="button" aria-expanded="false"><span class="avatar_info">Admin</span><span class="drop-icon"><!-- <i class="ion ion-chevron-down"></i> --></span></a>
					<ul class="dropdown-menu dropdown-piluku-menu  animated fadeInUp wow avatar_drop neat_drop dropdown-right" data-wow-duration="1500ms" role="menu">
				        <%= render 'layouts/admin_navigation_links' %>
					</ul>
				</li>
			<% end %>
		<% end %>

		<!-- Connect menu -->
		<li id="ros-connection-menu" class="piluku-dropdown dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="ion-bug icon-notification"></i><span id="number-ros-instances-connected" class="badge info-number warning">0</span></a>
			<ul id="ros-instances-list" class="dropdown-menu dropdown-piluku-menu  animated fadeInUp wow notification-drop neat_drop dropdown-right" data-wow-duration="1500ms" role="menu">
				<li class="dropdown-header">
						<i class="ion-bug"></i> Select Robots to display
				</li>
				<li id="no-robots-detected">
					<a href="#" class="text-warning">No robots detected. Try running 'rosrun luxagent luxagent.py' on a robot.</a>
				</li>
			</ul>
		</li>

		<li class="piluku-dropdown dropdown">
			<!-- @todo Change design here, its bit of odd or not upto usable -->

			<a href="#" class="dropdown-toggle avatar_width" data-toggle="dropdown" role="button" aria-expanded="false"><span class="avatar-holder"><img src="<%= image_path('piluku/avatar.jpg') %>" alt=""></span><span class="avatar_info">Simon Birrell</span><span class="drop-icon"><!-- <i class="ion ion-chevron-down"></i> --></span></a>
			<ul class="dropdown-menu dropdown-piluku-menu  animated fadeInUp wow avatar_drop neat_drop dropdown-right" data-wow-duration="1500ms" role="menu">
		        <%= render 'layouts/navigation_links' %>
			</ul>
		</li>
		<li class="chat_btn">
			<a href="#" class="package-bar-toggle flatRed">
				<i class="icon ti-package"></i>
				<i class="ion-ios-apps-outline"></i>                              
			</a>
		</li>
	</ul>

</nav>

